:root {
  --main-color: #0b9586;
  --link-color: #0a8678;
  --secondary-color: #3cab90;
  --unique-color: #f5b921;
  --box-padding: 16px 150px;
  --fontSize-title: 42px;
  --fontSize-text: 18px;
  --fontSize-title-mobile: 32px;
  --button-color: #2a3334;
  --padding-inline: 150px;
  --main-padding: 80px 150px;
  --background-card-color: rgba(60, 171, 144, 0.05);
  --inline-mobile-padding: 20px;
  --block-mobile-padding: 22px;
  --nav-padding-large: 16px 150px;
  --gray-color: #475467;
  --white-color: #fff;
  --dark-blue-color: #101828;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url(./assets/fonts/akazan-bk-2.ttf);
}
@font-face {
  font-family: Akazan;
  src: url(./assets/fonts/akazan-bold.ttf);
}
body {
  font-family: "Inter", sans-serif;
}

/* Buttons */
.btn-card {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

/* Header */
.site-header .site-header-menu {
  background-color: var(--main-color);
  padding: var(--box-padding);
  color: var(--white-color);
  font-size: var(--fontSize-text);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 96.67px;
  height: fit-content;
  max-height: 86px;
}
.site-header .header-icons .mobile-btn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #eee;
  display: none;
}

.site-header .site-header-menu .site-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
  width: 100%;
}

.site-header .site-header-menu .site-header-nav {
  list-style: none;
  padding: 0px;
  white-space: nowrap;
  display: flex;
  gap: 1px;
}

.site-header .site-header-menu .site-header-nav li a {
  text-decoration: none;
  color: var(--white-color);
  padding: 8px 28px;
  border-radius: 4px;
  font-weight: 400;
  width: 100%;
}
.site-header .site-header-menu .site-header-nav li a:hover {
  background-color: var(--link-color);
  border-bottom: 3px solid #0000004d;
  font-weight: var(--font-weight-semibold);
}
.site-header .site-header-menu .site-header-nav li a:focus {
  background-color: var(--link-color);
}

.site-header .site-header-menu .site-header-contact {
  display: grid;
  gap: 4px;
  align-items: end;
  justify-content: end;
  width: 100%;
  white-space: nowrap;
}

.site-header .site-header-menu .site-header-contact span:nth-child(1) {
  margin-left: auto;
}
.site-header .site-header-menu .site-header-contact span:nth-child(2) {
  font-weight: 700;
  letter-spacing: 0.94;
}

/* Hero-section */
.hero-section {
  color: var(--white-color);
  position: relative;
}
.hero-section .hero-background img {
  width: 100%;
  position: relative;
  height: 650px;
}

.hero-section .hero-content {
  display: grid;
  gap: 81px;
  position: absolute;
  left: 0;
  top: 0px;
  padding: var(--box-padding);
  font-size: var(--fontSize-text);
}
.hero-section .hero-slider-div {
  display: flex;
  gap: 25.67px;
  align-items: center;
  padding-top: 89px;
  font-family: myFont;
}
.hero-section .hero-slider {
  display: flex;
  gap: 50px;
  align-items: center;
  font-family: myFont;
}

.hero-section .hero-slider .hero-slider-line {
  background-color: rgba(71, 71, 71, 0.768);
  width: 250.59px;
  height: 4px;
}
.hero-section .hero-slider .nav-slider_line-top {
  background-color: var(--white-color);
  height: 3px;
  width: 89.01px;
}
.hero-section .hero-text {
  display: grid;
  gap: 24px;
}
.hero-section .hero-text h1 {
  text-transform: capitalize;
  width: 729px;
  font-weight: var(--font-weight-bold);
  font-size: 52px;
  line-height: 63px;
  letter-spacing: 2px;
}
.hero-section .hero-text p {
  font-size: 20px;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  line-height: 30px;
  width: 680px;
}
.hero-section .hero-content .next-text_buttons {
  display: flex;
  gap: 15px;
}

.hero-section .hero-content .next-text_buttons .btn-call {
  background-color: var(--main-color);
  border: none;
  padding: 12px 34px;
  color: #ffffffc0;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}
.hero-section .hero-content .next-text_buttons .btn-call:hover {
  opacity: 90%;
}

.hero-section .hero-content .next-text_buttons .btn-request {
  background-color: var(--unique-color);
  border: none;
  padding: 12px 34px;
  border-radius: 20px;
  font-size: 14px;
  color: var(--button-color);
  cursor: pointer;
}
.hero-section .hero-content .next-text_buttons .btn-request:hover {
  background-color: #f5b921e2;
}

/* Friendliest-section */
.section-friendliest {
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 72.52px;
}
.section-friendliest .friendliest-content .friendliest-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-friendliest .friendliest-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section-friendliest .friendliest-content h1 {
  font-size: var(--fontSize-title);
  font-weight: var(--font-weight-bold);
  line-height: 50.83px;
}
.section-friendliest .friendliest-content p {
  font-size: 16px;
  color: var(--gray-color);
  width: 594px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section-friendliest .friendliest-content ul {
  list-style: none;
  display: grid;
  gap: 12px;
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  color: var(--dark-blue-color);
}

.section-friendliest .friendliest-content ul li span {
  color: #84bd3a;
  padding-inline: 2px;
  font-family: akazan;
  font-weight: 400;
  letter-spacing: 2px;
}
.section-friendliest .friendliest-visual {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.section-friendliest .friendliest-visual .friendliest-background-image {
  margin-left: auto;
  width: 440px;
  height: 552px;
  display: block;
  max-width: 100%;
}
.section-friendliest .friendliest-visual-text {
  position: absolute;
  bottom: 14px;
  left: 40px;
  background-color: var(--unique-color);
  height: 208px;
  padding: 24px 30px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 28px;
  width: 266px;
}
.section-friendliest .friendliest-visual-text img {
  width: 90px;
  height: 90px;
}

.section-friendliest .friendliest-visual-text p {
  font-size: var(--fontSize-text);
  font-weight: var(--font-weight-semibold);
  line-height: 20.95px;
  font-family: myFont;
  letter-spacing: 0.94px;
}

/* Power-section */
.section-power {
  position: relative;
  color: var(--white-color);
}
.section-power img {
  width: 100%;
  position: relative;
  height: 100%;
  height: 505px;
}
.section-power .power-content {
  padding: 0px var(--padding-inline);
  position: absolute;
  inset: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
}

.section-power .power-content h1 {
  font-size: var(--fontSize-title);
  font-weight: var(--font-weight-bold);
  line-height: 50.83px;
}
.section-power .power-content p {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
  line-height: 28px;
}

.section-power .power-content button {
  background-color: var(--unique-color);
  border: none;
  padding: 12px 34px 12px 34px;
  font-size: 14px;
  border-radius: 109px;
  color: var(--button-color);
  cursor: pointer;
}

/* Solar-section */
.section-solar {
  padding: var(--main-padding);
  display: grid;
  gap: 40px;
}

.section-solar .solar-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-solar .solar-header h1 {
  font-size: var(--fontSize-title);
}
.section-solar .solar-header p {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 24px;
  width: 936px;
  text-align: center;
  margin: auto;
}
.section-solar .solar-cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

.section-solar .solar-cards-container .solar-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.section-solar .solar-cards-container .solar-card img {
  width: 100%;
}
.section-solar .solar-cards-container .solar-card .solar-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 28px;
}
.section-solar .solar-cards-container .solar-card .solar-card-content h1 {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  color: var(--dark-blue-color);
}

.section-solar .solar-cards-container .solar-card .solar-card-content p {
  color: var(--gray-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 318.67px;
  height: 72px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Repairs-section */
.repairs-section .repairs-background {
  position: relative;
}
.repairs-section .repairs-background img {
  width: 100%;
  position: relative;
  height: 100%;
}
.repairs-section .repairs-background .repairs-content {
  width: 858px;
  background: rgba(0, 0, 0, 0.57);
  border-radius: 12px;
  color: var(--white-color);
  text-align: center;
  position: absolute;
  left: calc(50% - 858px / 2);
  top: calc(50% - 311px / 2 + 1px);
  z-index: 2;
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px;
  gap: 32px;
}

.repairs-section .repairs-background .repairs-content h1 {
  font-size: var(--fontSize-title);
  line-height: 50.83px;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}
.repairs-section .repairs-background .repairs-content p {
  width: 770px;
  height: 140px;
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.3px;
}

/* Energy-section */
.energy-section {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--main-padding);
  background: rgba(255, 187, 28, 0.05);
}
.energy-section .energy-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: span 1;
  width: 358.67px;
}

.energy-section .energy-header h1 {
  font-size: var(--fontSize-title);
  font-weight: var(--font-weight-bold);
  line-height: 51px;
  color: var(--dark-blue-color);
}
.energy-section .energy-header p {
  width: 358.67px;
  height: 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--fontSize-text);
  line-height: 28px;
  color: var(--gray-color);
}

.energy-section .energy-card-group {
  grid-column: span 2;
}
.energy-section .energy-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
  align-items: start;
}
.energy-section .energy-cards-container .energy-card {
  display: grid;
  padding: 24px;
  gap: 32px;
  background: var(--background-card-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.energy-section .energy-cards-container .energy-card .energy-card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 106px;
  background: rgba(60, 171, 144, 0.15);
  border-radius: 10px;
}
.energy-section .energy-cards-container .energy-card .energy-card-image span {
  width: 225px;
  height: 49px;
  background: url(./assets/images/logo.png);
  mix-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center;
}

.energy-section
  .energy-cards-container
  .energy-card
  .energy-card-content
  .energy-card-content-text {
  display: grid;
  gap: 8px;
  align-items: start;
  justify-items: start;
}
.energy-section
  .energy-cards-container
  .energy-card
  .energy-card-content
  .energy-card-content-text
  h1 {
  width: 310.67px;
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-blue-color);
  letter-spacing: 0.2px;
}
.energy-section
  .energy-cards-container
  .energy-card
  .energy-card-content
  .energy-card-content-text
  p {
  width: 310.67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-color);
}
.energy-section .energy-cards-container .energy-card .energy-card-content {
  display: grid;
  gap: 20px;
  align-items: start;
  justify-items: start;
}

/* Value-section */
.values-section {
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.values-section .values-header {
  display: grid;
  gap: 28px;
  text-align: center;
  width: 100%;
}
.values-section .values-header h1 {
  font-size: var(--fontSize-title);
  font-weight: var(--font-weight-bold);
  line-height: 51px;
  letter-spacing: -0.02em;
  color: var(--dark-blue-color);
}
.values-section .values-header p {
  font-size: var(--fontSize-text);
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-color);
}

.values-section .values-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
}

.values-section .values-card-container .values-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 20px;
  background: var(--background-card-color);
  border: 1px solid #3cab90;
  border-radius: 12px;
}
.values-section .values-card-container .values-card h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-blue-color);
}
.values-section .values-card-container .values-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-color);
  width: 294.67px;
}

/* CustomerSay-section */
.customerSay-section {
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
}
.customerSay-section .customer-content {
  grid-column: span 1;
}

.customerSay-section .customer-contents .customer-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: start;
  width: 400px;
}
.customerSay-section .customer-contents .customer-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #1c1c1c;
}

.customerSay-section .customer-contents .customer-content p {
  width: 400px;
  font-weight: 400;
  font-size: var(--fontSize-text);
  line-height: 32px;
  color: #1c1c1c;
}

.customerSay-section .customer-details {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 87px;
  background: var(--background-card-color);
  border-radius: 24px;
}
.customerSay-section .customer-details .customer-details-content {
  display: grid;
  gap: 52px;
}

.customerSay-section .customer-details .customer-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.customerSay-section .customer-details .customer-details-header h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3cab90;
}
.customerSay-section
  .customer-details
  .customer-details-header
  .customer-details-header-pagination {
  display: flex;
  gap: 8px;
}
.customerSay-section
  .customer-details
  .customer-details-header
  .customer-details-header-pagination
  span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #d9d9d9;
}
.customerSay-section
  .customer-details
  .customer-details-header
  .customer-details-header-pagination
  span:nth-child(1) {
  background-color: #6b6b6b;
}

.customerSay-section .customer-details p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: var(--dark-blue-color);
  width: 516px;
}
.customerSay-section .customer-details .customer-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: row;
}
.customerSay-section .customer-details .customer-info .customer-info-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.customerSay-section
  .customer-details
  .customer-info
  .customer-info-content
  div {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.customerSay-section
  .customer-details
  .customer-info
  .customer-info-content
  h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1c;
}
.customerSay-section .customer-details .customer-info .customer-info-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1c;
}
.customerSay-section .customer-details .customer-info .customer-navigation {
  display: flex;
  gap: 16px;
}
.customerSay-section
  .customer-details
  .customer-info
  .customer-navigation
  button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* footer-site */
.site-footer {
  background-color: #283646;
  display: grid;
  padding: var(--main-padding);
  color: var(--white-color);
  gap: 54px;
}
.site-footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.site-footer .footer-top .footer-contents {
  display: grid;
  gap: 38px;
}
.site-footer .footer-top .footer-info {
  display: flex;
  gap: 40px;
}

.site-footer .footer-contents .footer-info a {
  color: var(--white-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.site-footer .footer-contact {
  display: grid;
  gap: 10px;
  width: auto;
}
.site-footer .footer-contact p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.site-footer .footer-contact form {
  position: relative;
}
.site-footer .footer-contact form input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 20px;
  width: 406px;
  height: 48px;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid #b3bdc7;
  border-radius: 38px;
  position: relative;
  box-sizing: border-box;
}

.site-footer .footer-contact form button {
  padding: 12px 34px;
  background: #ffbb1c;
  border-radius: 109px;
  color: var(--white-color);
  position: absolute;
  right: 1px;
  top: 1px;
  height: 48px;
  border: none;
  font-size: var(--fontSize-text);
  cursor: pointer;
}

.site-footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}

.site-footer .footer-bottom .footer-links {
  display: flex;
  text-transform: capitalize;
}
.site-footer .footer-bottom .footer-links a:nth-child(1) {
  padding-left: 0px;
  flex-wrap: nowrap;
}
.site-footer .footer-bottom .footer-links a {
  color: var(--white-color);
  text-decoration: none;
  border-right: 1px solid #92989f;
  padding-inline: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #92989f;
}
.site-footer .footer-bottom p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.257143px;
  color: #92989f;
}

.mobile-nav {
  background-color: var(--main-color);
  width: 100%;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  position: absolute;
  z-index: 10;
  height: 0px;
  left: 0px;
  top: 85px;
  opacity: 0;
  transition: height 0.3s ease-in, opacity 0.3s ease-in;
  overflow: hidden;
}

.mobile-nav ul {
  gap: 8px;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.mobile-nav ul li a {
  color: var(--white-color);
  text-decoration: none;
}

.mobile-nav ul li a:hover {
  color: rgba(239, 237, 237, 0.764);
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .site-header .site-header-menu {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .site-header .header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 10px;
    justify-items: center;
  }

  .site-header .header-icons .mobile-btn {
    display: flex;
  }
  .mobile-nav p {
    font-weight: 600;
    color: rgb(232, 242, 229);
    margin-top: 10px;
  }
  .site-header .header-icons .mobile-btn:hover ~ .mobile-nav {
    padding: 10px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 220px;
    opacity: 1;
  }
  .site-header .site-header-menu nav:nth-child(2) {
    display: none;
  }
  .site-header .site-header-contact {
    display: none;
  }
  .hero-section {
    height: 100%;
  }
  .hero-section .hero-content {
    width: 100%;
    gap: 21px;
    top: 30px;
    padding: 0px;
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
  }
  .hero-section .hero-background img {
    height: fit-content;
    min-height: 400px;
  }
  .hero-section .hero-slider {
    gap: 15px;
  }
  .hero-section .hero-slider-div {
    gap: 12.67px;
    padding-top: 0px;
  }
  .hero-section .hero-slider .hero-slider-line {
    width: 150.59px;
  }
  .hero-section .hero-slider .nav-slider_line-top {
    width: 59.01px;
  }
  .hero-section .hero-text {
    gap: 12px;
  }
  .hero-section .hero-text h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 36px;
    letter-spacing: 0px;
    width: 100%;
  }
  .hero-section .hero-text p {
    font-size: var(--fontSize-text);
    font-weight: 400;
    width: 100%;
  }
  .hero-section .hero-content .next-text_buttons {
    gap: 10px;
  }
  .hero-section .hero-content .next-text_buttons .btn-call,
  .btn-request {
    padding: 8px 12px;
    font-size: 14px;
  }
  .hero-section .hero-content .next-text_buttons .btn-request {
    padding: 8px 12px;
    font-size: 14px;
  }
  .section-friendliest {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .section-friendliest .friendliest-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .section-friendliest .friendliest-content .friendliest-header {
    gap: 14px;
  }
  .section-friendliest .friendliest-content h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 40.83px;
    letter-spacing: 0px;
    width: 100%;
  }
  .section-friendliest .friendliest-content p {
    width: 100%;
  }
  .section-friendliest .friendliest-content ul {
    gap: 10px;
    font-size: 16px;
  }

  .section-friendliest .friendliest-visual .friendliest-background-image {
    width: 100%;
    height: 350px;
    margin: 0;
  }
  .section-friendliest .friendliest-visual-text {
    bottom: -74px;
    left: 0px;
    right: 0px;
    width: 100%;
    right: 12px;
    padding: 28px 20px;
    gap: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  .section-power {
    margin-top: 80px;
  }
  .section-power img {
    position: relative;
    height: 300px;
  }

  .section-power .power-content {
    padding-inline: var(--inline-mobile-padding);
    padding-top: 7px;
    gap: 12px;
    width: 100%;
    justify-content: center;
  }
  .section-power .power-content h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 40px;
  }
  .section-power .power-content p {
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
  }
  .section-power .power-content button {
    padding: 6px 12px;
    font-size: 14px;
  }
  .section-solar {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    gap: 20px;
  }
  .section-solar .solar-header {
    text-align: left;
    display: flex;
    gap: 14px;
  }
  .section-solar .solar-header p {
    width: 100%;
    text-align: left;
  }
  .section-solar .solar-cards-container {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
  .section-solar .solar-cards-container .solar-card .solar-card-content {
    padding: 10px;
    gap: 14px;
  }
  .repairs-section .repairs-background img {
    height: fit-content;
    min-height: 340px;
  }
  .repairs-section .repairs-background .repairs-content {
    width: 100%;
    inset: 0;
    gap: 12px;
    border-radius: 0px;
    text-align: left;
    justify-content: center;
    align-items: start;
    padding: 8px 20px;
    height: 100%;
  }
  .repairs-section .repairs-background .repairs-content h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 40.83px;
  }
  .repairs-section .repairs-background .repairs-content p {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
  }

  .energy-section {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
  }
  .energy-section .energy-header {
    gap: 4px;
    width: 100%;
  }
  .energy-section .energy-header h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 41px;
  }
  .energy-section .energy-header p {
    font-size: 16px;
    width: 100%;
  }
  .energy-section .energy-card-group {
    grid-column: span 1;
    display: grid;
    align-items: start;
    justify-content: start;
    padding: 0;
  }
  .energy-section .energy-cards-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
  }
  .energy-section .energy-cards-container .energy-card {
    padding: 10px;
    gap: 20px;
  }

  .energy-section .energy-cards-container .energy-card .energy-card-image {
    width: 100%;
  }
  .energy-section .energy-cards-container .energy-card .energy-card-image span {
    width: 100%;
  }
  .energy-section .energy-cards-container .energy-card .energy-card-image span {
    width: 100%;
  }
  .energy-section
    .energy-cards-container
    .energy-card
    .energy-card-content
    .energy-card-content-text
    h1 {
    width: 100%;
  }
  .energy-section
    .energy-cards-container
    .energy-card
    .energy-card-content
    .energy-card-content-text
    p {
    width: 100%;
  }

  .values-section {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
  }
  .values-section .values-header {
    gap: 12px;
    text-align: left;
  }
  .values-section .values-header h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 21px;
  }
  .values-section .values-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .values-section .values-card-container .values-card {
    padding: 12px;
    gap: 10px;
  }

  .customerSay-section {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    align-items: start;
  }

  .customerSay-section .customer-contents .customer-content {
    gap: 12px;
    align-items: start;
    width: 100%;
  }
  .customerSay-section .customer-contents .customer-content h1 {
    font-size: 32px;
    line-height: 44px;
  }
  .customerSay-section .customer-contents .customer-content p {
    width: 100%;
  }
  .customerSay-section .customer-details {
    grid-column: span 1;
    padding: 20px 6px;
    gap: 40px;
    width: 100%;
    border-radius: 0px;
  }
  .customerSay-section .customer-details p {
    font-weight: 400;
    font-size: var(--fontSize-text);
    line-height: 150%;
    color: var(--dark-blue-color);
    width: 100%;
  }
  .customerSay-section .customer-details .customer-info {
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-direction: column;
  }
  .customerSay-section .customer-details .customer-info .customer-navigation {
    margin-left: auto;
    gap: 8px;
  }
  .site-footer {
    padding-inline: var(--inline-mobile-padding);
    padding-block: 40px;
    gap: 30px;
  }
  .site-footer .footer-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .site-footer .footer-top .footer-contents {
    gap: 10px;
  }
  .site-footer .footer-top .footer-info {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  .site-footer .footer-contact {
    gap: 10px;
    width: 100%;
  }
  .site-footer .footer-contact p {
    color: rgb(210, 210, 210);
  }
  .site-footer .footer-contact form input {
    padding: 0px 0px 0px 12px;
    width: 100%;
  }
  .site-footer .footer-contact form button {
    padding: 10px 12px;
    background: #ffbb1c;
    border-radius: 40px;
    right: 4px;
    height: 42px;
    top: 3.5px;
    font-size: 14px;
  }
  .site-footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .site-footer .footer-bottom .footer-links {
    display: flex;
    text-transform: capitalize;
    flex-wrap: wrap;
    gap: 8px;
    align-items: start;
  }
  .site-footer .footer-bottom .footer-links a {
    padding-inline: 10px;
  }
  .site-footer .footer-bottom .footer-links a:last-child {
    padding-inline: 0px;
    border-right: none;
  }
}
@media screen and (min-width: 766px) and (max-width: 1024px) {
  .site-header .site-header-menu {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .site-header .header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 10px;
  }

  .site-header .header-icons .mobile-btn {
    display: flex;
  }
  .site-header .header-icons .mobile-btn:hover ~ .mobile-nav {
    padding: 0px;
    margin: 0px;
    left: 0px;
    height: 220px;
    opacity: 1;
  }

  .site-header .site-header-menu nav:nth-child(2) {
    display: none;
  }

  .site-header .site-header-contact {
    display: none;
  }

  .hero-section {
    height: 100%;
  }
  .hero-section .hero-content {
    width: 100%;
    gap: 21px;
    top: 30px;
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
  }
  .hero-section .hero-background img {
    height: fit-content;
    min-height: 380px;
  }
  .hero-section .hero-slider {
    gap: 15px;
  }
  .hero-section .hero-slider-div {
    gap: 12.67px;
    padding-top: 0px;
  }
  .hero-section .hero-slider .hero-slider-line {
    width: 150.59px;
  }
  .hero-section .hero-slider .nav-slider_line-top {
    width: 59.01px;
  }
  .hero-section .hero-text {
    gap: 12px;
  }
  .hero-section .hero-text h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 36px;
    letter-spacing: 0px;
    width: 100%;
  }
  .hero-section .hero-text p {
    font-size: var(--fontSize-text);
    font-weight: 400;
    width: 100%;
  }
  .hero-section .hero-content .next-text_buttons {
    gap: 10px;
  }
  .hero-section .hero-content .next-text_buttons .btn-call,
  .btn-request {
    padding: 8px 12px;
    font-size: 14px;
  }

  .hero-section .hero-content .next-text_buttons .btn-request {
    padding: 8px 12px;
    font-size: 14px;
  }
  .section-friendliest {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .section-friendliest .friendliest-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .section-friendliest .friendliest-content .friendliest-header {
    gap: 14px;
  }
  .section-friendliest .friendliest-content h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 40.83px;
    letter-spacing: 0px;
    width: 100%;
  }
  .section-friendliest .friendliest-content p {
    width: 100%;
  }

  .section-friendliest .friendliest-content ul {
    gap: 10px;
    font-size: 16px;
  }

  .section-friendliest .friendliest-visual .friendliest-background-image {
    width: 100%;
    min-height: 450px;
    object-fit: cover;
  }

  .section-friendliest .friendliest-visual-text {
    bottom: -74px;
    left: 0px;
    right: 0px;
    width: 100%;
    right: 12px;
    padding: 28px 20px;
    gap: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: end;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .section-power {
    margin-top: 80px;
  }
  .section-power img {
    position: relative;
    height: 300px;
  }

  .section-power .power-content {
    padding-inline: var(--inline-mobile-padding);
    padding-top: 7px;
    gap: 12px;
    width: 100%;
    justify-content: center;
  }
  .section-power .power-content h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 40px;
  }
  .section-power .power-content p {
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
  }
  .section-power .power-content button {
    padding: 6px 12px;
    font-size: 14px;
  }
  .section-solar {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    gap: 20px;
  }
  .section-solar .solar-header {
    text-align: left;
    display: flex;
    gap: 14px;
  }
  .section-solar .solar-card img {
    height: 300px;
  }
  .section-solar .solar-header p {
    width: 100%;
    text-align: left;
  }
  .section-solar .solar-cards-container {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
  .section-solar .solar-cards-container .solar-card .solar-card-content {
    padding: 10px;
    gap: 14px;
  }
  .section-solar .solar-cards-container .solar-card .solar-card-content p {
    width: 100%;
  }
  .repairs-section .repairs-background img {
    height: fit-content;
    min-height: 350px;
  }
  .repairs-section .repairs-background .repairs-content {
    width: 100%;
    inset: 0;
    gap: 12px;
    border-radius: 0px;
    text-align: left;
    justify-content: center;
    align-items: start;
    padding: 24px 12px;
  }
  .repairs-section .repairs-background .repairs-content h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 40.83px;
  }
  .repairs-section .repairs-background .repairs-content p {
    width: 100%;
    height: 140px;
    font-weight: 400;
    font-size: 16px;
  }
  .energy-section {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
  }
  .energy-section .energy-header {
    gap: 4px;
    width: 100%;
  }
  .energy-section .energy-header h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 41px;
  }
  .energy-section .energy-header p {
    font-size: 16px;
  }
  .energy-section .energy-card-group {
    grid-column: span 1;
  }
  .energy-section .energy-cards-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .energy-section .energy-cards-container .energy-card {
    padding: 10px;
    gap: 20px;
    width: 100%;
  }
  .energy-section .energy-cards-container .energy-card .energy-card-image {
    width: 100%;
  }
  .energy-section .energy-cards-container .energy-card .energy-card-image span {
    width: 100%;
  }
  .energy-section
    .energy-cards-container
    .energy-card
    .energy-card-content
    .energy-card-content-text
    h1 {
    width: 100%;
  }
  .energy-section
    .energy-cards-container
    .energy-card
    .energy-card-content
    .energy-card-content-text
    p {
    width: 100%;
  }

  .values-section {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
  }
  .values-section .values-header {
    gap: 12px;
    text-align: left;
  }
  .values-section .values-header h1 {
    font-size: var(--fontSize-title-mobile);
    line-height: 21px;
  }
  .values-section .values-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .values-section .values-card-container .values-card {
    padding: 12px;
    gap: 10px;
  }
  .values-section .values-card-container .values-card p {
    width: 100%;
  }

  .customerSay-section {
    padding: var(--block-mobile-padding) var(--inline-mobile-padding);
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    align-items: start;
  }

  .customerSay-section .customer-contents .customer-content {
    gap: 12px;
    align-items: start;
    width: 100%;
  }
  .customerSay-section .customer-contents .customer-content h1 {
    font-size: 32px;
    line-height: 44px;
  }
  .customerSay-section .customer-contents .customer-content p {
    width: 100%;
  }
  .customerSay-section .customer-details {
    grid-column: span 1;
    padding: 20px 6px;
    gap: 40px;
    width: 100%;
    border-radius: 0px;
  }
  .customerSay-section .customer-details p {
    font-weight: 400;
    font-size: var(--fontSize-text);
    line-height: 150%;
    color: var(--dark-blue-color);
    width: 100%;
  }
  .customerSay-section .customer-details .customer-info {
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-direction: column;
  }
  .customerSay-section .customer-details .customer-info .customer-navigation {
    margin-left: auto;
    gap: 8px;
  }
  .site-footer {
    padding-inline: var(--inline-mobile-padding);
    padding-block: 40px;
    gap: 40px;
  }
  .site-footer .footer-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }

  .site-footer .footer-contact {
    gap: 6px;
    width: 100%;
  }
  .site-footer .footer-top .footer-info {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  .site-footer .footer-contact form input {
    padding: 0px 0px 0px 12px;
    width: 100%;
  }
  .site-footer .footer-contact form button {
    padding: 10px 12px;
    background: #ffbb1c;
    border-radius: 40px;
    right: 4px;
    height: 42px;
    top: 3.5px;
    font-size: 14px;
  }
  .site-footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .site-footer .footer-bottom .footer-links {
    display: flex;
    text-transform: capitalize;
    flex-wrap: wrap;
    gap: 8px;
    align-items: start;
  }
  .site-footer .footer-bottom .footer-links a {
    padding-inline: 10px;
  }
  .site-footer .footer-bottom .footer-links a:last-child {
    padding-inline: 0px;
    border-right: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1527px) {
  .site-header .site-header-menu {
    padding: var(--nav-padding-large);
  }
  .hero-section .hero-content {
    padding: 0px var(--padding-inline);
  }
  .section-friendliest {
    padding: var(--main-padding);
    gap: 0px;
  }

  .section-friendliest .friendliest-visual-text {
    left: -30px;
  }
  .section-power .power-content {
    padding: var(--main-padding);
  }

  .section-solar {
    padding: var(--main-padding);
  }
  .section-solar .solar-header p {
    font-size: 16px;
    width: 100%;
  }
  .section-solar .solar-cards-container {
    width: 100%;
  }
  .section-solar .solar-cards-container .solar-card .solar-card-content p {
    width: 100%;
  }
  .energy-section {
    padding: var(--main-padding);
    gap: 20px;
  }
  .energy-section .energy-header {
    width: 100%;
  }
  .energy-section .energy-header p {
    width: 100%;
  }

  .energy-section .energy-cards-container .energy-card .energy-card-image span {
    width: 100%;
  }

  .energy-section .energy-cards-container .energy-card {
    padding: 20px;
  }

  .energy-section
    .energy-cards-container
    .energy-card
    .energy-card-content
    .energy-card-content-text
    h1 {
    width: 100%;
  }
  .energy-section
    .energy-cards-container
    .energy-card
    .energy-card-content
    .energy-card-content-text
    p {
    width: 100%;
  }
  .values-section {
    padding: var(--main-padding);
  }

  .values-section .values-card-container .values-card p {
    width: 100%;
  }

  .customerSay-section .customer-contents .customer-content {
    width: 100%;
  }
  .customerSay-section .customer-contents .customer-content p {
    width: 100%;
  }

  .customerSay-section .customer-details p {
    width: 100%;
  }
}
