:root {
  --main-color: #0b9586;
  --secondary-color: #0a8678;
}
body {
  font-family: sans-serif;
}
.header {
  background-color: var(--main-color);
  padding: 16px 82px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-items ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

.header .header-items ul li a {
  font-weight: lighter;
}

.header .header-items ul li a {
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.header .header-items ul li a:hover {
  background-color: var(--secondary-color);
  border-bottom: 3px solid #075e53;
  font-weight: 500;
}
.header .header-items ul li a:focus {
  background-color: var(--secondary-color);
}

.header .header-contact {
  display: grid;
  gap: 4px;
}
.header .header-logo {
  width: 140px;
  height: 40px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-logo .fa {
  color: rgba(182, 186, 186, 0.529);
  font-size: 40px;
}
.header .header-contact span:nth-child(2) {
  font-weight: 600;
  font-size: 18px;
}

.header .header-icon-mobile {
  display: none;
}
.header .header-icon-mobile {
  font-size: 18px;
}

@media screen and (min-width: 330px) and (max-width: 420px) {
  .header {
    padding: 8px 12px;
  }

  .header .header-logo {
    width: 40px;
    height: 30px;
  }
  .header .header-logo .fa {
    font-size: 26px;
  }
  .header .header-items ul {
    display: none;
  }
  .header .header-contact {
    display: none;
  }

  .header .header-icon-mobile {
    display: flex;
  }
}
